* {
	margin: 0;
	padding: 0;
}

body {
	background: #c6cace;
	font-size: 14px;
    font-family: 'WenQuanYi Micro Hei Mono', 'WenQuanYi Micro Hei', 'Microsoft Yahei Mono', 'Microsoft Yahei', sans-serif;
    text-shadow: 0 1px 0 #eee;
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #f4f4ec;
}

/*重写bootsrtap，改变布局的宽度*/
.container{
    width:780px;
}

.resume{
    padding:25px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);
       -moz-box-shadow: 5px 3px 5px rgba(0,0,0,.15);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);
}

#base-info{
    background-color: white;
}

#about{
	margin-left:100px;
}

/*重写bootstrap，取消鼠标滑过的背景颜色*/
.table tbody tr:hover td, 
.table tbody tr:hover th {
    background-color: transparent;
}

/*奇偶列异色*/
.table tbody tr td:nth-child(odd), 
.table tbody tr th:nth-child(odd) {
    background-color: #f5f5f5;
}
    
a {
	color: #404040;
	text-decoration: none;
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
	    -ms-transition: 0.5s;
	     -o-transition: 0.5s;
	        transition: 0.5s;
}
	a:hover,
	a.selected {
		color: #808080;
	}

h1,h2,h4,h5,h6 {
}
	h1 {
	}
	h2 {
	}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
		width: 680px;
		height: 280px;
		overflow: hidden;
		margin: 100px auto;
		position: relative;
		background: url('../images/dot.png') left 45px repeat-x;
	}
		#dates {
			width: 120px;
			height: 50px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 150px;
				height: 50px;
				font-size: 24px;
				text-align: center;
				background: url('../images/bdot.png') center bottom no-repeat;
			}
				#dates a {
				  color:#c7dec9
				}
				
				#dates .selected {
				  color: #2e8477;
				}
		
		#issues {
			width: 680px;
			height: 280px;
			overflow: hidden;
		}	
			#issues li {
				width: 680px;
				height: 280px;
				list-style: none;
				float: left;
			}
				#issues li h1 {
				    margin-top:20px;
					margin-left: 70px;
					color: #2e8477;
					font-size: 48px;
					text-shadow: #000 1px 1px 2px;
				}
				#issues li p {
					font-size: 14px;
					margin-left: 70px;
					margin-right: 70px;
					font-weight: normal;
					line-height: 22px;
					
				}
		
		#grad_left,
		#grad_right {
			width: 100px;
			height: 280px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
			}
			#grad_right {
		        right: 0;
			}
		
		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 145px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('../images/next.png');
			}
			#prev {
				left: 0;
				background-image: url('../images/prev.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}