---
layout: page
---

<ul class="entry-list">
  {% for post in site.posts ｜ limit: site.posts_limit %}
  <li class="entry-item" itemscope itemtype="http://schema.org/Article">
    <div class="entry-meta">
      <time class="updated" itemprop="datepublished">{{ post.date | date_to_string }} </time>
    </div>
    <div class="detail">
      <h2 itemprop="name">
        <a itemprop="url" href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      {%if post.description %}<div itemprop="description">{{ post.description }}</div>{% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
