<meta charset="utf-8">
<title>{{ page.title }} - {{ site.title }}</title>
<meta name="author" content="{{ site.author }}">
<meta name="description" content="有关 Web 的一切">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.author }}">
<meta name="twitter:creator" content="@{{ site.author }}">
<meta name="twitter:domain" content="{{ site.url }}">
<link href="/stylesheets/yue.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
{% include ga.html %}
