<meta charset="utf-8">
<title>{{ page.title }} - {{ site.title }}</title>
<meta name="author" content="{{ site.author }}">
<meta name="description" content="有关 Web 的一切">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.author }}">
<meta name="twitter:creator" content="@{{ site.author }}">
<meta name="twitter:domain" content="{{ site.url }}">
<link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" type="text/css" href="//unpkg.com/yue.css/yue.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
{% include ga.html %}
