html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  display: table;
  content: '';
  clear: both;
}

#header {
  padding: 20px 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, .15);
}

#footer {
  padding: 10px 0;
  border-top: 1px solid #eee;
  font-size: 13px;
  text-align: center;
}

#nav {
  float: right;
}

#header  a {
  color: #444;
  display: inline-block;
  text-decoration: none;
  transition: opacity .2s ease-out;
  text-transform: uppercase;
}

#header a:hover,
#header a.active {
  opacity: .6;
  /*box-shadow: 0 -3px 0 #4bd094 inset;*/
}

#header a {
  font-family: "Avenir Next",Avenir,"Helvetica Neue",sans-serif;
}

.entry-list {
  padding: 0;
}

.entry-item {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.entry-meta time {
  color: #999;
  font-size: 0.8em;
}

.entry-list a {
  font-size: 1.2em;
  color: #444;
  text-decoration: none;
  transition: opacity .2s ease-out;
}

.entry-list a:hover {
  opacity: .6;
}

.socail-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.hentry .entry-content {
  margin-top: 2em;
}

.entry-title,
.entry-meta {
  text-align: center;
}

.entry-content a {
  color: #444;
  transition: opacity .2s ease-out;
}

.entry-content a:hover {
  opacity: .6;
}

.entry-comments {
  padding: 30px 0;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}

.yue,
.yue h1,
.yue h2,
.yue h3,
.yue h4,
.yue h5,
.yue h6 {
  font-family: "AlrightSans","Helvetica Neue","Helvetica","Arial","Source Han Sans SC","Hiragino Sans GB","Microsoft YaHei","Microsoft JhengHei",sans-serif
}

.yue code,
.yue tt,
.yue pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

@media (max-width: 650px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
